extends layout
block scripts
  link(rel="stylesheet" href="/css/dashboard.css")
block content
  div.container
    header 
      h1.centered-text Dashboard
    div(class="dashboard-nav")
      a(class="btn" href="users/profile/" + user.username) My Profile
      a(class="btn" href="serials/" + user.username) My Serials
      a(class="btn" href="#") My Account
    div
      p Welcome to your Dashboard. You have no activity. It is a barren wasteland.
