extends layout
block content
  div(class="hero-image-container")
  div(class="main-content")
    h1 Serialized
    p Spicy jalapeno bacon ipsum dolor amet alcatra cupim mollit meatloaf. Nulla venison fugiat elit meatloaf. Quis magna veniam tempor landjaeger. Chuck swine exercitation enim excepteur velit tempor short loin.
    //- img(class="hero-image" src="../img/typing.jpg")
    div
      a(class="btn btn-large" href="/signup") Make an Account
