extends layout
block content
  form(action="/login" id="log-in-form" method="post")
    input(form="log-in-form" name="email-input" placeholder="Email" required="true")
    input(form="log-in-form" name="password-input" placeholder="Password" required="true" type="password")
    button(form="log-in-form" type="submit") Sign In
