extends layout
block scripts
  link(rel="stylesheet" href="/css/authentication.css")
block content
  div.container
    h1 Sign Up
    form(class="v-form" action="/signup" id="sign-up-form" method="post")
      label(class="v-form-label") First Name
        input(form="sign-up-form" name="first-name" placeholder="First Name" required="true")
      label(class="v-form-label") Last Name
        input(form="sign-up-form" name="last-name" placeholder="Last Name" required="true")
      label(class="v-form-label") Screen Name
        input(form="sign-up-form" name="screen-name" placeholder="Screen Name" required="true")
      label(class="v-form-label") Email
        input(form="sign-up-form" name="email" placeholder="Email" required="true" type="email")
      label(class="v-form-label") Password
        input(form="sign-up-form" name="password" placeholder="Password" required="true" type="password")
      label(class="v-form-label") Birthdate
        input(form="sign-up-form" name="birthdate" placeholder="Birthdate" required="true" type="date")

      button(class="btn btn-large" form="sign-up-form" type="submit") Submit
    p Did you mean to #[a(href="/login") Log in?]
